In [11]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/BadgerMinton/badgerminton-data/refs/heads/main/elo-scores/2024-11-21_elo_scores.csv"
)

result_df = df[df["played"] >= 9].reset_index(drop=True)
result_df.index = pd.RangeIndex(start=1, stop=len(result_df) + 1)
# result_df.sort_values(by=["event_change"])

display(result_df)
# Filter based on min 9 games played
# 21 November 2024

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,31,25,6,7.7,1771.7,83,272
2,Isha,28,21,7,7.1,1711.7,30,212
3,Rushdi,27,16,11,6.4,1636.2,106,136
4,Hazwan,21,15,6,6.2,1617.9,16,118
5,Ammar,21,13,8,6.1,1607.2,-45,107
6,Aidi,11,8,3,5.9,1588.2,-34,88
7,Khairul,28,17,11,5.8,1577.0,-28,77
8,Suraya,17,11,6,5.6,1563.3,41,63
9,Mirza,36,17,19,5.4,1540.6,63,41
10,Suhayl,10,6,4,5.4,1537.6,36,38
11,Alif,12,6,6,4.9,1494.7,-1,-5
12,Mujahid,30,14,16,4.8,1478.3,-4,-22
13,Imran,11,5,6,4.6,1459.2,-3,-41
14,Shazwan,19,9,10,4.5,1453.2,10,-47
15,Nadia,31,13,18,4.3,1431.4,-34,-69
16,Zulhakim,9,3,6,4.2,1420.0,-74,-80
17,Faiz,11,2,9,3.8,1375.5,-95,-124
18,Suhailah,9,1,8,3.7,1369.3,-80,-131
19,Lisa,29,11,18,3.6,1355.5,-19,-144
20,Luqman,21,5,16,3.5,1350.7,-5,-149
21,Yassier,35,11,24,3.2,1315.9,-42,-184
22,Hasanah,15,1,14,2.8,1276.8,-76,-223

In [12]:
result_df.sort_values(by=["event_change"])

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
17,Faiz,11,2,9,3.8,1375.5,-95,-124
18,Suhailah,9,1,8,3.7,1369.3,-80,-131
22,Hasanah,15,1,14,2.8,1276.8,-76,-223
16,Zulhakim,9,3,6,4.2,1420.0,-74,-80
5,Ammar,21,13,8,6.1,1607.2,-45,107
21,Yassier,35,11,24,3.2,1315.9,-42,-184
6,Aidi,11,8,3,5.9,1588.2,-34,88
15,Nadia,31,13,18,4.3,1431.4,-34,-69
7,Khairul,28,17,11,5.8,1577.0,-28,77
19,Lisa,29,11,18,3.6,1355.5,-19,-144
20,Luqman,21,5,16,3.5,1350.7,-5,-149
12,Mujahid,30,14,16,4.8,1478.3,-4,-22
13,Imran,11,5,6,4.6,1459.2,-3,-41
11,Alif,12,6,6,4.9,1494.7,-1,-5
14,Shazwan,19,9,10,4.5,1453.2,10,-47
4,Hazwan,21,15,6,6.2,1617.9,16,118
2,Isha,28,21,7,7.1,1711.7,30,212
10,Suhayl,10,6,4,5.4,1537.6,36,38
8,Suraya,17,11,6,5.6,1563.3,41,63
9,Mirza,36,17,19,5.4,1540.6,63,41
1,Afiqah,31,25,6,7.7,1771.7,83,272
3,Rushdi,27,16,11,6.4,1636.2,106,136

In [13]:
df.index = pd.RangeIndex(start=1, stop=len(df) + 1)
display(df)
# Full ranking
# 21 November 2024

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,31,25,6,7.7,1771.7,83,272
2,Isha,28,21,7,7.1,1711.7,30,212
3,Rushdi,27,16,11,6.4,1636.2,106,136
4,Hazwan,21,15,6,6.2,1617.9,16,118
5,Ammar,21,13,8,6.1,1607.2,-45,107
6,Aidi,11,8,3,5.9,1588.2,-34,88
7,Khairul,28,17,11,5.8,1577.0,-28,77
8,Suraya,17,11,6,5.6,1563.3,41,63
9,Lina,7,5,2,5.6,1560.0,60,60
10,Kamil,4,3,1,5.5,1549.0,49,49
11,Mirza,36,17,19,5.4,1540.6,63,41
12,Suhayl,10,6,4,5.4,1537.6,36,38
13,Rafiq,8,5,3,5.3,1532.4,-5,32
14,Haziq,7,4,3,5.3,1526.2,26,26
15,Alif,12,6,6,4.9,1494.7,-1,-5
16,Mujahid,30,14,16,4.8,1478.3,-4,-22
17,Maisarah,7,3,4,4.7,1473.6,-26,-26
18,Basit,4,1,3,4.7,1468.0,-32,-32
19,Imran,11,5,6,4.6,1459.2,-3,-41
20,Dina,5,1,4,4.6,1458.7,-41,-41
21,Shazwan,19,9,10,4.5,1453.2,10,-47
22,Nadia,31,13,18,4.3,1431.4,-34,-69
23,Zulhakim,9,3,6,4.2,1420.0,-74,-80
24,Faiz,11,2,9,3.8,1375.5,-95,-124
25,Suhailah,9,1,8,3.7,1369.3,-80,-131
26,Lisa,29,11,18,3.6,1355.5,-19,-144
27,Luqman,21,5,16,3.5,1350.7,-5,-149
28,Yassier,35,11,24,3.2,1315.9,-42,-184
29,Hasanah,15,1,14,2.8,1276.8,-76,-223