In [10]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/BadgerMinton/badgerminton-data/refs/heads/main/elo-scores/2024-12-05_elo_scores.csv"
)

result_df = df[df["played"] >= 20].reset_index(drop=True)
result_df.index = pd.RangeIndex(start=1, stop=len(result_df) + 1)

display(result_df)
# Filter based on min 20 games played
# 6 December 2024

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,44,33,11,7.6,1762.5,-16,262
2,Ammar,35,25,10,7.4,1744.3,70,244
3,Isha,33,24,9,7.1,1706.1,-6,206
4,Rushdi,34,21,13,6.7,1674.6,38,175
5,Hazwan,35,23,12,6.4,1635.8,15,136
6,Suraya,21,15,6,6.1,1612.5,49,113
7,Khairul,40,23,17,6.1,1607.4,30,107
8,Mirza,48,22,26,5.1,1509.4,-2,9
9,Mujahid,30,14,16,4.8,1478.3,-4,-22
10,Shazwan,28,13,15,4.5,1445.0,19,-55
11,Lisa,39,15,24,3.6,1355.8,-43,-144
12,Nadia,44,17,27,3.3,1333.4,-76,-167
13,Yassier,48,15,33,3.0,1297.6,35,-202
14,Luqman,35,9,26,2.9,1292.0,-53,-208
15,Hasanah,20,1,19,2.0,1202.9,-74,-297

In [11]:
result_df.sort_values(by=["event_change"])

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
12,Nadia,44,17,27,3.3,1333.4,-76,-167
15,Hasanah,20,1,19,2.0,1202.9,-74,-297
14,Luqman,35,9,26,2.9,1292.0,-53,-208
11,Lisa,39,15,24,3.6,1355.8,-43,-144
1,Afiqah,44,33,11,7.6,1762.5,-16,262
3,Isha,33,24,9,7.1,1706.1,-6,206
9,Mujahid,30,14,16,4.8,1478.3,-4,-22
8,Mirza,48,22,26,5.1,1509.4,-2,9
5,Hazwan,35,23,12,6.4,1635.8,15,136
10,Shazwan,28,13,15,4.5,1445.0,19,-55
7,Khairul,40,23,17,6.1,1607.4,30,107
13,Yassier,48,15,33,3.0,1297.6,35,-202
4,Rushdi,34,21,13,6.7,1674.6,38,175
6,Suraya,21,15,6,6.1,1612.5,49,113
2,Ammar,35,25,10,7.4,1744.3,70,244

In [12]:
df.index = pd.RangeIndex(start=1, stop=len(df) + 1)
display(df)
# Full ranking
# 6 December 2024

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,44,33,11,7.6,1762.5,-16,262
2,Ammar,35,25,10,7.4,1744.3,70,244
3,Isha,33,24,9,7.1,1706.1,-6,206
4,Rushdi,34,21,13,6.7,1674.6,38,175
5,Hazwan,35,23,12,6.4,1635.8,15,136
6,Suraya,21,15,6,6.1,1612.5,49,113
7,Khairul,40,23,17,6.1,1607.4,30,107
8,Aidi,11,8,3,5.9,1588.2,-34,88
9,Lina,15,10,5,5.9,1586.6,27,87
10,Suhayl,13,8,5,5.6,1563.1,25,63
11,Haziq,14,9,5,5.6,1558.6,32,59
12,Kamil,4,3,1,5.5,1549.0,49,49
13,Rafiq,8,5,3,5.3,1532.4,-5,32
14,Muja,6,4,2,5.3,1530.2,30,30
15,Alif,18,10,8,5.3,1526.7,32,27
16,Mirza,48,22,26,5.1,1509.4,-2,9
17,Sarah,8,4,4,4.9,1492.0,-8,-8
18,Yassier,1,0,1,4.9,1486.1,-14,-14
19,Mujahid,30,14,16,4.8,1478.3,-4,-22
20,Apek,1,0,1,4.8,1476.1,-24,-24
21,Maisarah,7,3,4,4.7,1473.6,-26,-26
22,Basit,4,1,3,4.7,1468.0,-32,-32
23,Imran,11,5,6,4.6,1459.2,-3,-41
24,Dina,5,1,4,4.6,1458.7,-41,-41
25,Shazwan,28,13,15,4.5,1445.0,19,-55
26,Alya,7,1,6,4.3,1428.9,-71,-71
27,Zulhakim,9,3,6,4.2,1420.0,-74,-80
28,Faiz,11,2,9,3.8,1375.5,-95,-124
29,Suhailah,9,1,8,3.7,1369.3,-80,-131
30,Lisa,39,15,24,3.6,1355.8,-43,-144
31,Nadia,44,17,27,3.3,1333.4,-76,-167
32,Yassier,48,15,33,3.0,1297.6,35,-202
33,Luqman,35,9,26,2.9,1292.0,-53,-208
34,Hasanah,20,1,19,2.0,1202.9,-74,-297