In [1]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/BadgerMinton/badgerminton-data/refs/heads/main/elo-scores/2025-01-23_elo_scores.csv"
)

result_df = df[df["played"] >= 20].reset_index(drop=True)
result_df.index = pd.RangeIndex(start=1, stop=len(result_df) + 1)

display(result_df)
# Filter based on min 20 games played
# 23 January 2025

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,68,51,17,8.6,1861.5,36,361
2,Ammar,62,41,21,7.6,1758.4,24,258
3,Isha,33,24,9,7.1,1706.4,-5,206
4,Hazwan,44,28,16,6.5,1645.9,-12,146
5,Rushdi,58,33,25,6.4,1641.2,-11,141
6,Lina,33,21,12,6.4,1638.7,-2,139
7,Suraya,26,18,8,6.1,1608.0,-4,108
8,Khairul,50,28,22,5.8,1584.5,12,85
9,Mirza,67,32,35,5.7,1570.4,67,70
10,Alif,32,17,15,5.0,1504.0,18,4
11,Mujahid,58,29,29,5.0,1499.4,-13,-1
12,Haziq,31,15,16,5.0,1496.6,-68,-3
13,Shazwan,47,21,26,4.0,1395.4,-60,-105
14,Luqman,53,17,36,3.7,1366.5,48,-133
15,Nadia,60,24,36,3.3,1334.9,-3,-165
16,Yassier,58,18,40,3.0,1299.5,-43,-200
17,Lisa,43,15,28,2.8,1281.4,-73,-219
18,Hasanah,29,5,24,2.3,1228.0,1,-272

In [2]:
result_df.sort_values(by=["event_change"])

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
17,Lisa,43,15,28,2.8,1281.4,-73,-219
12,Haziq,31,15,16,5.0,1496.6,-68,-3
13,Shazwan,47,21,26,4.0,1395.4,-60,-105
16,Yassier,58,18,40,3.0,1299.5,-43,-200
11,Mujahid,58,29,29,5.0,1499.4,-13,-1
4,Hazwan,44,28,16,6.5,1645.9,-12,146
5,Rushdi,58,33,25,6.4,1641.2,-11,141
3,Isha,33,24,9,7.1,1706.4,-5,206
7,Suraya,26,18,8,6.1,1608.0,-4,108
15,Nadia,60,24,36,3.3,1334.9,-3,-165
6,Lina,33,21,12,6.4,1638.7,-2,139
18,Hasanah,29,5,24,2.3,1228.0,1,-272
8,Khairul,50,28,22,5.8,1584.5,12,85
10,Alif,32,17,15,5.0,1504.0,18,4
2,Ammar,62,41,21,7.6,1758.4,24,258
1,Afiqah,68,51,17,8.6,1861.5,36,361
14,Luqman,53,17,36,3.7,1366.5,48,-133
9,Mirza,67,32,35,5.7,1570.4,67,70

In [3]:
df.index = pd.RangeIndex(start=1, stop=len(df) + 1)
display(df)
# Full ranking
# 23 January 2025

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,68,51,17,8.6,1861.5,36,361
2,Ammar,62,41,21,7.6,1758.4,24,258
3,Isha,33,24,9,7.1,1706.4,-5,206
4,Hazwan,44,28,16,6.5,1645.9,-12,146
5,Rushdi,58,33,25,6.4,1641.2,-11,141
6,Lina,33,21,12,6.4,1638.7,-2,139
7,Suraya,26,18,8,6.1,1608.0,-4,108
8,Aidi,16,11,5,6.1,1606.7,18,107
9,Eijen,4,4,0,5.9,1590.8,91,91
10,Fazli,5,5,0,5.9,1587.4,87,87
11,Khairul,50,28,22,5.8,1584.5,12,85
12,Kamil,10,7,3,5.7,1573.7,25,74
13,Mirza,67,32,35,5.7,1570.4,67,70
14,Omar,6,4,2,5.5,1549.0,49,49
15,Rafiq,8,5,3,5.3,1532.4,-5,32
16,Zarif,6,4,2,5.3,1528.5,29,29
17,Adib,5,2,3,5.1,1508.8,9,9
18,Suhayl,18,9,9,5.1,1508.5,-54,8
19,Alif,32,17,15,5.0,1504.0,18,4
20,Mujahid,58,29,29,5.0,1499.4,-13,-1
21,Haziq,31,15,16,5.0,1496.6,-68,-3
22,Sarah,8,4,4,4.9,1492.0,-8,-8
23,Haikal,4,2,2,4.8,1482.4,-18,-18
24,Maisarah,7,3,4,4.7,1473.6,-26,-26
25,Afiq,5,2,3,4.7,1469.2,-31,-31
26,Basit,4,1,3,4.7,1468.0,-32,-32
27,Imran,11,5,6,4.6,1459.2,-3,-41
28,Dina,5,1,4,4.6,1458.7,-41,-41
29,Ilham,9,3,6,4.6,1458.0,-57,-42
30,Khairina,5,2,3,4.5,1451.6,-52,-48
31,Azril,4,1,3,4.4,1436.7,-63,-63
32,Alya,7,1,6,4.3,1428.9,-71,-71
33,Zulhakim,9,3,6,4.2,1420.0,-74,-80
34,Hidayat,12,3,9,4.1,1411.7,-11,-88
35,Shazwan,47,21,26,4.0,1395.4,-60,-105
36,Suhailah,9,1,8,3.7,1369.3,-80,-131
37,Luqman,53,17,36,3.7,1366.5,48,-133
38,Nadia,60,24,36,3.3,1334.9,-3,-165
39,Faiz,15,2,13,3.1,1314.2,-61,-186
40,Yassier,58,18,40,3.0,1299.5,-43,-200
41,Lisa,43,15,28,2.8,1281.4,-73,-219
42,Hasanah,29,5,24,2.3,1228.0,1,-272

In [4]:
df.sort_values(by=["event_change"])

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
36,Suhailah,9,1,8,3.7,1369.3,-80,-131
33,Zulhakim,9,3,6,4.2,1420.0,-74,-80
41,Lisa,43,15,28,2.8,1281.4,-73,-219
32,Alya,7,1,6,4.3,1428.9,-71,-71
21,Haziq,31,15,16,5.0,1496.6,-68,-3
31,Azril,4,1,3,4.4,1436.7,-63,-63
39,Faiz,15,2,13,3.1,1314.2,-61,-186
35,Shazwan,47,21,26,4.0,1395.4,-60,-105
29,Ilham,9,3,6,4.6,1458.0,-57,-42
18,Suhayl,18,9,9,5.1,1508.5,-54,8
30,Khairina,5,2,3,4.5,1451.6,-52,-48
40,Yassier,58,18,40,3.0,1299.5,-43,-200
28,Dina,5,1,4,4.6,1458.7,-41,-41
26,Basit,4,1,3,4.7,1468.0,-32,-32
25,Afiq,5,2,3,4.7,1469.2,-31,-31
24,Maisarah,7,3,4,4.7,1473.6,-26,-26
23,Haikal,4,2,2,4.8,1482.4,-18,-18
20,Mujahid,58,29,29,5.0,1499.4,-13,-1
4,Hazwan,44,28,16,6.5,1645.9,-12,146
34,Hidayat,12,3,9,4.1,1411.7,-11,-88
5,Rushdi,58,33,25,6.4,1641.2,-11,141
22,Sarah,8,4,4,4.9,1492.0,-8,-8
15,Rafiq,8,5,3,5.3,1532.4,-5,32
3,Isha,33,24,9,7.1,1706.4,-5,206
7,Suraya,26,18,8,6.1,1608.0,-4,108
27,Imran,11,5,6,4.6,1459.2,-3,-41
38,Nadia,60,24,36,3.3,1334.9,-3,-165
6,Lina,33,21,12,6.4,1638.7,-2,139
42,Hasanah,29,5,24,2.3,1228.0,1,-272
17,Adib,5,2,3,5.1,1508.8,9,9
11,Khairul,50,28,22,5.8,1584.5,12,85
8,Aidi,16,11,5,6.1,1606.7,18,107
19,Alif,32,17,15,5.0,1504.0,18,4
2,Ammar,62,41,21,7.6,1758.4,24,258
12,Kamil,10,7,3,5.7,1573.7,25,74
16,Zarif,6,4,2,5.3,1528.5,29,29
1,Afiqah,68,51,17,8.6,1861.5,36,361
37,Luqman,53,17,36,3.7,1366.5,48,-133
14,Omar,6,4,2,5.5,1549.0,49,49
13,Mirza,67,32,35,5.7,1570.4,67,70
10,Fazli,5,5,0,5.9,1587.4,87,87
9,Eijen,4,4,0,5.9,1590.8,91,91