In [18]:
import pandas as pd

df = pd.read_csv(
    "https://raw.githubusercontent.com/BadgerMinton/badgerminton-data/refs/heads/main/elo-scores/2024-11-14_elo_scores.csv"
)

# Filter based on min 9 games played
result_df = df[df["played"] >= 9].reset_index(drop=True)
result_df.index = pd.RangeIndex(start=1, stop=len(result_df) + 1)
# result_df.sort_values(by=["event_change"])

display(result_df)

,name,played,wins,losses,scaled_rating,rating,event_change,total_change
1,Afiqah,26,20,6,6.9,1689.0,-4,189
2,Isha,23,17,6,6.8,1682.0,37,182
3,Ammar,16,12,4,6.5,1651.7,72,152
4,Rushdi,27,16,11,6.4,1636.2,106,136
5,Hazwan,21,15,6,6.2,1617.9,16,118
6,Khairul,21,14,7,6.1,1605.4,65,105
7,Aidi,11,8,3,5.9,1588.2,-34,88
8,Suraya,12,7,5,5.2,1522.2,31,22
9,Alif,12,6,6,4.9,1494.7,-1,-5
10,Mujahid,26,12,14,4.8,1481.8,-31,-18
11,Mirza,30,12,18,4.8,1477.9,69,-22
12,Nadia,27,12,15,4.7,1465.0,36,-35
13,Imran,11,5,6,4.6,1459.2,-3,-41
14,Shazwan,19,9,10,4.5,1453.2,10,-47
15,Zulhakim,9,3,6,4.2,1420.0,-74,-80
16,Faiz,11,2,9,3.8,1375.5,-95,-124
17,Lisa,24,9,15,3.7,1374.5,-72,-125
18,Suhailah,9,1,8,3.7,1369.3,-80,-131
19,Yassier,29,10,19,3.6,1357.9,7,-142
20,Luqman,16,3,13,3.6,1355.8,-12,-144
21,Hasanah,10,1,9,3.5,1352.8,-67,-147